/*初始化网页预设置格式*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.5 "Microsoft yahei",arial, Simsun, sans-serif;
    color:#333;
    background-color: #fff;
}
img,
fieldset {
    border: none;
    vertical-align: middle;
}
input,
textarea {
    font-size: 12px;
}
table {
    border-collapse: collapse;
}
a {
    color: #3983e5;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-family: "Times New Roman", Simsun;
}
ul, ol {
    list-style: none;
}
/*浮动*/
.fl{float: left;}
.fr{float: right;}